body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin: 0;
    text-align: left;
    color: #293c4b;
}

div {
    margin: 0
}

img {
    margin: 20px 0;
    max-width: 200px;
}

.UrlForm {
    margin: 3em;
    font-size: 20px;
}

.UrlForm__input {
    width: 60%;
    margin-right: 3em;
}

.Result {
    padding: 2em;
    margin: 2em;
}

.Result__jsonView {
    font-size: 14px;
    font-family: Menlo, monospace;
    color: black;
}

.Error {
    color: darkred;
}

.JsonView__collapsible:hover {
    text-decoration: underline;
    cursor: pointer;
}

.JsonView__propertyKey {
    color: rgb(136, 19, 145);
    margin-right: 8px;
}

.JsonView__number {
    color: rgb(28, 0, 207);
}

.JsonView__string {
    white-space: pre;
    unicode-bidi: -webkit-isolate;
    color: rgb(196, 26, 22);
}

.JsonView__null {
    color: rgb(128, 128, 128);
}

.JsonView__bool {
    color: rgb(170, 13, 145);
}

.JsonView__collectionGroup {
  /* display: flex; */
}

.JsonView__collectionItem {
    align-items: center;
    box-sizing: border-box;
    color: rgb(33, 33, 33);
    cursor: default;
    list-style-type: none;
    min-height: 16px;
    min-width: 0px;
    position: relative;
    tab-size: 4;
    text-align: left;
    text-overflow: ellipsis;
    user-select: text;
    white-space: nowrap;
    word-wrap: break-word;
}

.JsonView__collectionItemsList {
    box-sizing: border-box;
    color: rgb(33, 33, 33);
    cursor: default;
    display: block;
    list-style-type: none;
    min-height: 0px;
    min-width: 0px;
    tab-size: 4;
    user-select: text;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px;
    padding-left: 0px;
    -webkit-padding-start: 0px;
    border-left: 1px dotted;
    margin-bottom: 16px;
}