<!DOCTYPE html>
<html>
  <head>
    <title>Elmsanity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>

    <div class='navbar navbar-default navbar-static-top' role='navigation'>
      <div class='container-fluid'>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ElmSanity</a>
      </nav>

      </div>
    </div>

    <div class='container-fluid page'>
      <div class='row'>
        <%= yield %>
      </div>
    </div>

    <%= javascript_pack_tag "application" %>
  </body>
</html>
