<!DOCTYPE html>
<html>
  <head>
    <title>ApiSnapshot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <header class='navbar navbar-expand navbar-dark flex-column flex-md-row'>
      <div class="container">
          <a class="navbar-brand" href="#">APISnapshot</a>
      </div>
    </header>
    <div class='container main'>
      <%= yield %>
    </div>

    <%= javascript_pack_tag "application" %>
  </body>
</html>
